<div class="posts">
    {% unless paginator.posts %}
    <article><section class="post-content"><p>There are no blog posts</p></section></article>
    {% endunless %}
    {% for post in paginator.posts %}
    <div class="post-teaser">
        {% if post.thumbnail %}
        <div class="post-img">
            <a aria-label="{{ post.title }}" href="{{ post.url | relative_url }}">
                <img alt="{{ post.title }}" src="{{ post.thumbnail | relative_url }}">
            </a>
        </div>
        {% endif %}
        <span>
          <header>
            <h1>
              <a aria-label="{{ post.title }}" class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title }}
              </a>
            </h1>
            {% include post_info.html author=post.author date=post.date %}
          </header>
          
          {% if site.excerpt or site.theme_settings.excerpt %}
              <div class="excerpt">
                  {% if site.excerpt == "truncate" %}
                     {{ post.content | strip_html | truncate: '250' | escape }}
                  {% else %}
                     {{ post.excerpt | strip_html | escape }}
                  {% endif %}
              </div>
          {% endif %}
      </span>
    </div>

    <template class="blog-ad-template">
      {% include adsense.html %}
    </template>
    <script>
      (() => {
        const template = document.currentScript.previousElementSibling;

        if (Math.random() < 0.5) {
          const ad = template.content.querySelector('.adsbygoogle').cloneNode(true);
          template.replaceWith(ad);
          (adsbygoogle = window.adsbygoogle || []).push({});
        } else {
          template.remove();
        }
      })();
    </script>
    
    {% endfor %}
</div>

{% include blog_nav.html %}
