{% assign tags = include.tags | split:'|' | sort | uniq %}

    <!-- Google Adsense -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-5605897321593790"
        data-ad-slot="1321947803"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

{% if tags.size > 0 %}
  <div class="tag-list">
    <ul>
      {% if tags.size == 1 %}
        <li class="meta">Tag</li>
      {% else %}
        <li class="meta">Tags</li>
      {% endif %}

      {% for tag in tags %}
        <li><a class="button" href="{{ '/tags' | relative_url }}#{{ tag | cgi_escape }}">
          <p><i class="fas fa-tag fa-fw fa-sm"></i> {{ tag }}</p>
        </a></li>
      {% endfor %}
    </ul>
  </div>
{% else %}
  <div class="tag-list"></div>
{% endif %}
